%h1 Listing donation_types

%table
  %thead
    %tr
      %th Start date
      %th Name
      %th End date
      %th Donation type
      %th
      %th
      %th
      
  %tbody
    - @donation_types.each do |donation_type|
      %tr
        %td= donation_type.start_date
        %td= donation_type.name
        %td= donation_type.end_date
        %td= donation_type.donation_type
        %td= link_to 'Show', donation_type
        %td= link_to 'Edit', edit_donation_type_path(donation_type)
        %td= link_to 'Destroy', donation_type, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Donation type', new_donation_type_path
