%p#notice= notice

%p
  %b Start date:
  = @donation_type.start_date
%p
  %b Name:
  = @donation_type.name
%p
  %b End date:
  = @donation_type.end_date
%p
  %b Donation type:
  = @donation_type.donation_type

= link_to 'Edit', edit_donation_type_path(@donation_type)
\|
= link_to 'Back', donation_types_path
