= form_for @budget do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  %h3= @budget.member.full_name

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :promise
    = f.number_field :promise
  .field
    = f.label :rest_promise_from_past_budget
    = f.number_field :rest_promise_from_past_budget
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date


  .actions
    = f.submit t('view.save'), :class => "btn btn-success"
