= form_for @budget, html: {class: 'form-horizontal'} do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  %h3= link_to @budget.member.full_name, member_path(@budget.member_id)

  .form-group
    = f.label t('view.budget.title'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :title, class: "form-control"
  .form-group
    = f.label t('budget.promise'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.telephone_field :promise, class: "form-control"
  .form-group
    = f.label t('budget.rest_promise_from_past_budget'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.telephone_field :rest_promise_from_past_budget, :class => "form-control"
  .form-group
    = f.label t('budget.start_date'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :start_date, value: (f.object.start_date.strftime('%d.%m.%Y') if f.object.start_date), class: "form-control datepicker"
  .form-group
    = f.label t('budget.end_date'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :end_date, value: (f.object.end_date.strftime('%d.%m.%Y') if f.object.end_date), class: "form-control datepicker"
  .form-group
    = f.label t('budget.none_payer'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.check_box :none_payer, class: "form-control"
  .form-group
    = f.label t('budget.description'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_area :description, class: "form-control", placeholder: t('budget.description_placeholder')
  .container-fluid
    .col-md-offset-2.col-md-3
      .form-group
        .actions
          = f.submit t('view.save'), class: 'btn btn-success btn-block'
