= form_for @budget do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :promise
    = f.number_field :promise
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  -#.field
  -#  = f.label :member
  -#  = f.text_field :member
  .field
    = f.label :member
    = f.select :member, Member.all.collect{|x| [x.full_name, x.id]}, {}, multiple: true
  .field
    = f.label :donation
    = f.text_field :donation
  .actions
    = f.submit 'Save'
