= form_for @budget do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .field
    = f.label :promise
    = f.number_field :promise
  .field
    = f.label :start_date
    = f.date_select :start_date
  .field
    = f.label :end_date
    = f.date_select :end_date
  .field
    = f.label :member
    = f.collection_select(:member_id, Member.all, :id, :full_name, {}, {:multiple => true})
  .field
    = f.label :donation_id
    = f.collection_select(:donation_id, Donation.all, :id, :name, prompt: true)

  -#= f.text_field :donation
  .actions
    = f.submit 'Save'
