= form_for @budget do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  %h3= @budget.member.full_name

  .field
    = f.label :title
    = f.text_field :title, :class => "form-control"
  .field
    = f.label :promise
    = f.number_field :promise, :class => "form-control"
  .field
    = f.label :rest_promise_from_past_budget
    = f.text_field :rest_promise_from_past_budget, :class => "form-control"
  .field
    = f.label :start_date
    = f.text_field :start_date, :class => "form-control datepicker"
  .field
    = f.label :end_date
    = f.text_field :end_date, :class => "form-control datepicker"
  .field
    = f.label :none_payer
    = f.check_box :none_payer, :class => "form-control"
  .field
    = f.label :description
    = f.text_area :description, :class => "form-control"

  .actions
    = f.submit t('view.save'), :class => "btn btn-success"
