- content_for :title do
  ="#{t('view.budget.all_budgets')}"

%p
  %ul.nav.nav-pills
    %li{:role => "presentation"}
      =link_to t('view.budget.overview'), budgets_path
    %li.active{:role => "presentation"}
      =link_to t('view.budget.all_budgets'), all_budgets_budgets_path
%br
%table#budget-table.table.table-striped.table-bordered.table-hover.table-condensed{"data-source" => all_budgets_budgets_url(format: "json")}
  %thead
    %tr
      %th= t('budget.title')
      %th= t('budget.promise')
      %th= t('budget.start_date')
      %th= t('budget.end_date')
      %th= t('budget.member')
      %th= t('view.donation.title')
      %th
      %th
      %th
      
  %tbody


.row
  %br
  .col-md-4
    = link_to "#{t('view.budget.new')}", new_budget_path, :class => "btn btn-success btn-block"

