- content_for :title do
  ="#{t('view.budget.edit')} (#{@budget.title})"

%h1
  = t('view.budget.edit')
  %small= @budget.title

= render 'form'

= link_to t('view.show'), @budget, :class => "btn btn-default btn-xs"
= link_to t('view.back'), all_budgets_budgets_path, :class => "btn btn-default btn-xs"
