%h1
  = t('view.budget.edit')
  %small= @budget.title

= render 'form'

= link_to t('view.show'), @budget, :class => "btn btn-default btn-xs"
= link_to t('view.back'), budgets_path, :class => "btn btn-default btn-xs"
