- content_for :title do
  ="#{t('view.budget.overview')}"

%p
  %ul.nav.nav-pills
    %li.active{:role => "presentation"}
      =link_to t('view.budget.overview'), budgets_path
    %li{:role => "presentation"}
      =link_to t('view.budget.all_budgets'), all_budgets_budgets_path

%br
%table#budget-overview.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th= t('view.budget.title')
      %th= t('budget.start_date')
      %th= t('budget.end_date')
      %th= t('view.donation.budget_count')
  %tbody
    - @budget_overview.each do |budget|
      %tr
        %td= link_to budget[0][0], controller: "budgets", action: "summary", title: budget[0][0]
        %td= I18n.l(budget[0][1], format: :default)
        %td= I18n.l(budget[0][2], format: :default)
        %td= budget[1]

.row
  .col-md-4
    = link_to "#{t('view.budget.new')}", new_budget_path, :class => "btn btn-success btn-block"

