%p
  %ul.nav.nav-pills
    %li.active{:role => "presentation"}
      =link_to t('view.budget.overview'), budgets_path
    %li{:role => "presentation"}
      =link_to t('view.budget.all_budgets'), all_budgets_budgets_path

%br
%table#budget-overview.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th= t('view.budget.title')
      %th= t('budget.start_date')
      %th= t('budget.end_date')
      %th= t('budget.rest_promise_from_past_budget')
      %th= t('budget.promise')
      %th= t('budget.paid')
      %th= t('budget.remainingPromise')
  %tbody
    - @budget_overview.each do |budget|
      %tr{:class => ("success" if (budget[:start_date]..budget[:end_date]).include?(Date.today))}
        %td= budget[:title]
        %td= I18n.l(budget[:start_date], format: :default)
        %td= I18n.l(budget[:end_date], format: :default)
        %td= number_to_currency budget[:rest_promise_from_past_budget], {locale: :de, precision: 0}
        %td= number_to_currency budget[:promise], {locale: :de, precision: 0}
        %td= number_to_currency budget[:paid_amount], {locale: :de, precision: 0}
        %td= number_to_currency (budget[:rest_promise_from_past_budget] + budget[:promise]) - budget[:paid_amount], {locale: :de, precision: 0}

.row
  .col-md-4
    = link_to "#{t('view.budget.new')}", new_budget_path, :class => "btn btn-success btn-block"

