- content_for :title do
  ="#{t('view.budget.title')}"

%h1= t('view.budget.title')

= form_for @budget, url: {controller: 'budgets', action: 'preview'}, method: "post", html: {class: 'form-horizontal'} do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label t('budget.title'), class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.text_field :title, class: 'form-control', placeholder: 'Hissa Aamad 2015-16'
  .field.form-group
    = f.label t('view.donation.title'), class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.collection_select(:donation_id, Donation.all.order("name"), :id, :name, {prompt: true}, {class: "form-control selectpicker"})
  .field.form-group
    = f.label t('budget.start_date'), class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.text_field :start_date, class: "form-control datepicker", placeholder: '01.01.2016'
  .field.form-group
    = f.label t('budget.end_date'), class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.text_field :end_date, class: "form-control datepicker", placeholder: '31.12.2016'
  .field.form-group#member_select_fields
    = f.label t('budget.member'), class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.collection_select(:member_id, Member.all, :id, :full_name, {}, {:multiple => true})

  .actions.col-md-offset-2
    = f.submit t('view.budget.calculate'), class: 'btn btn-success'
    %br
    %br
    = link_to t('view.back'), all_budgets_budgets_path, class: 'btn btn-default btn-xs'
