%h1= t('view.budget.title')

= form_for @budget, url: {controller: 'budgets', action: 'preview'}, method: "post", html: {class: 'form-horizontal'} do |f|
  - if @budget.errors.any?
    #error_explanation
      %h2= "#{pluralize(@budget.errors.count, "error")} prohibited this budget from being saved:"
      %ul
        - @budget.errors.full_messages.each do |msg|
          %li= msg

  .field.form-group
    = f.label :title, class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.text_field :title, class: 'form-control'
  .field.form-group
    = f.label :donation_id, class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.collection_select(:donation_id, Donation.all, :id, :name, prompt: true)
  .field.form-group
    = f.label :start_date, class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.text_field :start_date, class: "form-control datepicker"
  .field.form-group
    = f.label :end_date, class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.text_field :end_date, class: "form-control datepicker"
  .field.form-group#member_select_fields
    = f.label :member, class: 'col-sm-2 control-label'
    %div.col-sm-8
      = f.collection_select(:member_id, Member.all, :id, :full_name, {}, {:multiple => true})

  .actions.col-md-offset-2
    = f.submit t('view.budget.calculate'), class: 'btn btn-primary'
    %br
    = link_to t('view.back'), budgets_path, class: 'btn btn-default btn-xs'
