.row
  .well.text-center
    %b.lead= @budget_previews[0].title
    %h2
      = "#{@budget_previews[0].donation.name}"
      %br
      %small
        = "#{I18n.l(@budget_previews[0].start_date, format: :long)} - #{I18n.l(@budget_previews[0].end_date, format: :long)}"
        %small
          %em= "[#{(@budget_previews[0].end_date - @budget_previews[0].start_date).to_i} Tage]"

= form_tag({controller: "budgets", action: "create"}, method: "post", class: "form-horizontal") do
  - @budget_previews.each_with_index do |budget,i|
    .col-sm-12.well.well-sm
      %h3.text-center
        = budget.member.full_name
        %small= budget.member.id
      %div{"data-member-preview-#{i}": "member-preview-#{i}"}
        = hidden_field_tag "budgets[#{i}][title]", budget.title
        = hidden_field_tag "budgets[#{i}][start_date]", budget.start_date
        = hidden_field_tag "budgets[#{i}][end_date]", budget.end_date
        = hidden_field_tag "budgets[#{i}][member_id]", budget.member_id
        = hidden_field_tag "budgets[#{i}][donation_id]", budget.donation_id
        .form-group
          = label_tag '', t('budget.promise'), class: 'col-sm-2 control-label', for: "budgets_#{i}_promise"
          .col-sm-10
            = number_field_tag "budgets[#{i}][promise]", budget.promise, class: 'form-control'
        .form-group
          = label_tag '', t('budget.rest_promise_from_past_budget'), class: 'col-sm-2 control-label', for: "budgets_#{i}_rest_promise_from_past_budget"
          .col-sm-10
            = number_field_tag "budgets[#{i}][rest_promise_from_past_budget]", budget.rest_promise_from_past_budget, class: 'form-control'
      .form-group
        = label_tag '', t('budget.none_payer'), class: 'col-sm-2 control-label', for: "budgets_#{i}_none_payer"
        .col-sm-10
          = hidden_field_tag "budgets[#{i}][none_payer]", false
          = check_box_tag "budgets[#{i}][none_payer]", value = "true", checked = false, class: 'btn none_payer_check_box',
            data: {"description": "budgets_#{i}_none_payer_description_wrapper", "member-preview": "member-preview-#{i}", "promise": "budgets_#{i}_promise", 'rest_promise_from_past_budget': "budgets_#{i}_rest_promise_from_past_budget" }
      .form-group{id: "budgets_#{i}_none_payer_description_wrapper", style: "display: none;"}
        = label_tag '', t('budget.description'), class: 'col-sm-2 control-label', for: "budgets_#{i}_none_payer_description"
        .col-sm-10
          = text_area_tag "budgets[#{i}][description]", budget.description, class: "form-control", placeholder: t('budget.description_placeholder')
  .field.form-group.col-sm-12.text-center
    = submit_tag t('view.save'), class: 'btn btn-success btn-lg btn-block'
    %br
    = link_to t('view.back'), :back, class: 'btn btn-default btn-xs'

