.well
  %h2= @budget_previews[0].title
  = "#{@budget_previews[0].donation.name}"
  %br
  = "#{@budget_previews[0].start_date} - #{@budget_previews[0].end_date}"

= form_tag({controller: "budgets", action: "create"}, method: "post", class: "form-horizontal") do
  - @budget_previews.each_with_index do |budget,i|
    .col-sm-12

      = hidden_field_tag "budgets[#{i}][title]", budget.title
      = hidden_field_tag "budgets[#{i}][start_date]", budget.start_date
      = hidden_field_tag "budgets[#{i}][end_date]", budget.end_date
      = hidden_field_tag "budgets[#{i}][member_id]", budget.member_id
      = hidden_field_tag "budgets[#{i}][donation_id]", budget.donation_id
      %h3= budget.member.full_name
      .form-group
        = label_tag '', t('budget.promise'), class: 'col-sm-2 control-label', for: "budgets_#{i}_promise"
        .col-sm-10
          = text_field_tag "budgets[#{i}][promise]", budget.promise, class: 'form-control'
      .form-group
        = label_tag '', t('budget.rest_promise_from_past_budget'), class: 'col-sm-2 control-label', for: "budgets_#{i}_promise"
        .col-sm-10
          = text_field_tag "budgets[#{i}][rest_promise_from_past_budget]", budget.rest_promise_from_past_budget, class: 'form-control'
  .field.form-group.col-sm-5
    = submit_tag t('view.save'), class: 'btn btn-primary'
    %br
    = link_to t('view.back'), :back, class: 'btn btn-default btn-xs'

