.container-fluid
  %p#notice= notice

.container-fluid
  .col-sm-12
    %h1
      = @budget.title
      %small
        = link_to @budget.member.full_name, member_path(@budget.member_id)
        = show_boolean_value_as_glyphicon(@budget.none_payer, t('budget.none_payer')) if @budget.none_payer

.container-fluid
  .col-sm-12
    %h3
      = "#{t('donation.name')}: "
      = @budget.donation.name

.container-fluid
  .col-sm-6
    %h4
      = "#{t('budget.promise')}: "
      = number_to_currency(@budget.promise, locale: :de)
    %h4
      = "#{t('budget.rest_promise_from_past_budget')}: "
      = number_to_currency(@budget.rest_promise_from_past_budget, locale: :de)

.container-fluid
  .col-sm-6
    %p.text-center.lead
      = @budget.start_date.strftime("%d. %B %Y")
  .col-sm-6
    %p.text-center.lead
      = @budget.end_date.strftime("%d. %B %Y")


- unless @budget.getAllReceiptsItemsfromBudgetPeriodforMember(@budget.member).empty?
  .container-fluid
    .col-sm-12
      %h3= t('budget.receipts')
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('receipt.id')
            %th= t('receipt.date')
            %th= t('receipt.amount')
        %tbody
          - @budget.getAllReceiptsItemsfromBudgetPeriodforMember(@budget.member).sort{|a, b| a.receipt.date <=> b.receipt.date}.each do |ri|
            %tr
              %td= link_to ri.receipt.id, member_receipt_path(ri.receipt.member.id, ri.receipt.id)
              %td= ri.receipt.date.strftime("%d.%m.%Y")
              %td= number_to_currency(ri.amount)




= link_to t('view.edit'), edit_budget_path(@budget), class: 'btn btn-primary btn-xs'
= link_to t('view.back'), budgets_path, class: 'btn btn-default btn-xs'
