%p#notice= notice

%p
  %b= t('view.budget.title')
  = @budget.title
%p
  %b= t('budget.promise')
  = number_to_currency(@budget.promise, locale: :de)
%p
  %b= t('budget.rest_promise_from_past_budget')
  = number_to_currency(@budget.rest_promise_from_past_budget, locale: :de)
%p
  %b= t('budget.start_date')
  = @budget.start_date.strftime("%d. %b %Y")
%p
  %b= t('budget.end_date')
  = @budget.end_date.strftime("%d. %b %Y")
%p
  %b= t('member.full_name')
  = @budget.member.full_name
%p
  %b= t('donation.name')
  = @budget.donation.name

= link_to t('view.edit'), edit_budget_path(@budget), class: 'btn btn-primary'
\|
= link_to t('view.back'), budgets_path, class: 'btn btn-default'
