- content_for :title do
  ="#{t('view.edit')}: #{t('reporter.title')} (#{@reporter.id})"

%h1= t('reporter.view.edit_report')

= render 'form'

%br
= link_to t('view.show'), @reporter, class: "btn btn-xs btn-default"
= link_to t('view.back'), reporters_path, class: "btn btn-xs btn-default"
