- content_for :title do
  ="#{t('reporter.title')} (#{@reporter.id})"


.container-fluid
  .col-md-12
    %h2
      = "#{t('reporter.title')}: "
      = @reporter.name

.container-fluid
  .col-md-12.text-center
    %h4
      = "#{t('donation.name')}:"
      = Donation.where(id: @reporter.donations).map(&:name).join(", ")
      %br
      %small
        %i= t('reporter.tanzeem.show_message', tanzeems: @reporter.tanzeems.join(", "))

.container-fluid
  .col-md-12
    %b= "#{t('reporter.interval.name')}:"
    %small= t('reporter.interval.show_message', days: "#{@reporter.interval.split(',').join('., ')}")
    %p
      %b= "#{t('reporter.to')}:"
      = @reporter.emails.join(", ")

.container-fluid
  -@reporter.overview.each do |item|
    .col-md-6
      .well.well-sm
        %h4.text-center= "#{t('view.budget.title')}: #{item.title}"
        %table.table.table-hover.table-condensed.table-bordered
          %tbody
            %tr
              %td= t('budget.rest_promise_from_past_budget')
              %td.text-right= number_to_currency(item.rest_promise_from_past_budget, locale: :de, precision:0)
            %tr
              %td= t('budget.promise')
              %td.text-right= number_to_currency(item.promise, locale: :de, precision:0)
            %tr
              %td= t('budget.paid')
              %td.text-right
                = number_to_currency(item.paid_amount_whole_budget, locale: :de, precision:0)
                %br
                %small
                  %i= "(#{t('budget.paid_percent')}: #{item.paid_percent}%)"

            %tr
              %td= t('budget.rest_current_budget')
              %td.text-right= number_to_currency(item.rest_amount, locale: :de, precision:0)

= link_to t('view.edit'), edit_reporter_path(@reporter), class: "btn btn-xs btn-default"
= link_to t('view.back'), reporters_path, class: "btn btn-xs btn-default"
