%h1
	= t('view.income.edit')
	%small= @income.member.full_name

= render 'form'

= link_to t('view.show'), member_income_path(params[:member_id], @income.id), :class => "btn btn-default btn-xs"
= link_to t('view.back'), :back, :class => "btn btn-default btn-xs"
