- content_for :title do
  ="#{t('view.income.title')} (#{@income.member.id})"

%h1
  = t('view.income.title')
  %small= link_to @income.member.full_name, member_path(@income.member_id)

%p.well.well-lg.text-center.lead
  %b= number_to_currency(@income.amount, locale: :de)
  = " ab "
  %small
    = I18n.l(@income.starting_date, format: :long)

= link_to t('view.edit'), edit_member_income_path(params[:member_id], @income.id), :class => "btn btn-default btn-xs"
= link_to t('view.back'), member_incomes_path, :class => "btn btn-default btn-xs"
