= form_for @donation, :html => {:class => "formform-inline"} do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label t('donation.name')
    = f.text_field :name, :class => "form-control"
  .form-group
    = f.label t('donation.budget')
    = f.check_box :budget, class: "form-control"
  .form-group#formula_fields
    = f.label t('donation.formula')
    = f.text_field :formula, :class => "form-control"
  .form-group#minimum_budget_fields
    = f.label t('donation.minimum')
    = f.text_field :minimum_budget, :class => "form-control"
  .form-group
    = f.label t('donation.organization')
    = f.select :organization, %w(Khuddam Atfal Ansar All Lajna Nasirat),{}, {class: "selectpicker"}
  .form-group
    = f.label t('donation.description')
    = f.text_area :description, :class => "form-control"
  .actions
    = f.submit t('view.save'), :class => "btn btn-success"
