= form_for @donation, :html => {:class => "formform-inline"} do |f|
  - if @donation.errors.any?
    #error_explanation
      %h2= "#{pluralize(@donation.errors.count, "error")} prohibited this donation from being saved:"
      %ul
        - @donation.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :name
    = f.text_field :name, :class => "form-control"
  .form-group
    = f.label :budget
    = f.check_box :budget, :class => "form-control"
  .form-group
    = f.label :formula
    = f.text_field :formula, :class => "form-control"
  .form-group
    = f.label :organization
    = f.text_field :organization, :class => "form-control"
  .actions
    = f.submit t('view.save'), :class => "btn btn-success"
