- content_for :title do
  ="#{t('view.donation.edit')} (#{@donation.name})"

%h1= t('view.donation.edit')

= render 'form'

%br
= link_to t('view.show'), @donation, :class => "btn btn-default btn-xs"
= link_to t('view.back'), donations_path, :class => "btn btn-default btn-xs"
