%h1 Listing donations

%table#donation-table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th= t('donation.name')
      %th= t('donation.budget')
      %th= t('donation.formula')
      %th= t('donation.organization')
      %th
      %th
      %th
      
  %tbody
    - @donations.each do |donation|
      %tr
        %td= donation.name
        %td= show_boolean_value_as_glyphicon donation.budget
        %td= donation.formula
        %td= donation.organization
        %td
          =link_to donation, :title => "#{t('table.show')}" do
            %span.glyphicon.glyphicon-search
        %td
          = link_to edit_donation_path(donation), :title => "#{t('table.edit')}" do
            %span.glyphicon.glyphicon-edit
        %td
          = link_to donation, :method => :delete, :data => { :confirm => 'Are you sure?' }, :title => "#{t('table.delete')}" do
            %span.glyphicon.glyphicon-trash.color-red

%br

= link_to "#{t('view.donation.new')}", new_donation_path, :class => "btn btn-primary"
