- content_for :title do
  ="#{t('view.donation.title')}: #{@donation.name}"

.container-fluid
  .col-ms-12
    %p#notice= notice

    %h1
      = @donation.name
      %small
        = "(#{@donation.organization})"
        %small= show_boolean_value_as_glyphicon @donation.budget, 'Budget'


.container-fluid
  .col-ms-12
    %h3= t('donation.calculation_rules')
    %p.well.well-lg.lead.text-center
      - if @donation.budget
        %b
          = @donation.formula
        = t('donation.calculation_rules_description_budget')
        %b= number_to_currency(@donation.minimum_budget, locale: :de)
      - else
        = t('donation.calculation_rules_description_none_budget')
        %b= number_to_currency(@donation.minimum_budget, locale: :de)



  - unless @donation.description.nil?
    .col-ms-12
      %p.well.text-center
        = @donation.description

  - unless @donation.budgets.empty?
    .col-ms-10
      %center
        %h3= t('view.budget.all_budgets')
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('view.budget.title')
            %th= t('budget.elapsed_time')
            %th= t('view.donation.budget_count')
        - Budget.where(donation_id: @donation.id).group([:title, :start_date, :end_date]).count.each do |budget|
          %tr
            %td= link_to budget.first[0], controller: "budgets", action: "summary", title: budget.first[0]
            %td
              %small= I18n.l(budget.first[1], format: :long)
              %br
              %small= I18n.l(budget.first[2], format: :long)
            %td= budget.second

.container-fluid
  = link_to t('view.edit'), edit_donation_path(@donation), :class => "btn btn-default btn-xs"
  = link_to t('view.back'), donations_path, :class => "btn btn-default btn-xs"
