%p#notice= notice

%p
  %b= t('donation.name')
  = @donation.name
%p
  %b= t('donation.budget')
  = @donation.budget
%p
  %b= t('donation.formula')
  = @donation.formula
%p
  %b= t('donation.organization')
  = @donation.organization


= link_to t('view.edit'), edit_donation_path(@donation), :class => "btn btn-default btn-xs"
= link_to t('view.back'), donations_path, :class => "btn btn-default btn-xs"