%p#notice= notice

%p
  %b Start date:
  = @donation.start_date
%p
  %b Name:
  = @donation.name
%p
  %b End date:
  = @donation.end_date
%p
  %b Budget:
  = @donation.budget
%p
  %b Formula:
  = @donation.formula
%p
  %b Organization:
  = @donation.organization

= link_to 'Edit', edit_donation_path(@donation)
\|
= link_to 'Back', donations_path
