!!!
%html
  %head
    %meta{:charset => "utf-8"}
      = stylesheet_link_tag :email
  %body
    .mail-wrapper
      %div
        %center
          %small= t('mail.message.salam')
          %h1
            = t('reporter.report_of', jamaat: Setting.jamaat)
            %br
              - if @report.interval.split(',').include? (Date.today.day)
                %small= t('reporter.interval.show_message', days: "#{@report.interval.split(',').join('., ')}")
              - else
                %small= t('reporter.interval.special')
        %center
          %h2
            = t('reporter.current_status')
            %br
            %small= t('reporter.tanzeem.show_message', tanzeems: @report.tanzeems.join(", "))
          %table.main{border: "1px"}
            %thead
              %tr
                %th= t('donation.budget')
                %th
                  %b= t('budget.promise')
                %th= t('budget.paid')
                %th= t('budget.rest_current_budget')
            %tbody
              - @report.overview.each do |iter|
                %tr
                  %td= iter.title
                  %td
                    = number_to_currency(iter.promise, {locale: :de, precision: 0})
                    - unless iter.rest_promise_from_past_budget == 0
                      %br
                      %small
                        = "#{t('budget.rest_promise_from_past_budget')}: "
                        = number_to_currency(iter.rest_promise_from_past_budget, {locale: :de, precision: 0})
                  %td
                    = number_to_currency(iter.paid_amount_whole_budget, {locale: :de, precision: 0})
                    %br
                    %small= "#{iter.paid_percent} %"
                  %td= number_to_currency(iter.rest_amount, {locale: :de, precision: 0})
      %table.footer{border: "0px"}
        %tr{border: "0px"}
          %td
            = t('mail.message.wssalam')
            %br
            = t('mail.message.department', jamaat: Setting.jamaat)
        %tr
          %td
            - if @contact_block == 'female'
              %pre= Setting.mail_contact_tag_for_female
            - else
              %pre= Setting.mail_contact_tag_for_male

      %center.maalify
        = t('mail.message.maalify') if @report.interval.split(',').include? (Date.today.day)
        %br
        build with &#9829; in Darmstadt
