!!!
%html
  %head
    %meta{:charset => "utf-8"}
      = stylesheet_link_tag :email
  %body
    .mail-wrapper
      %div
        %center
          %small Assalam o Alaikum Warahmatullah,
          %br
        - if @member.gender == 'male'
          = t('mail.greeting.male', {name: "#{@member.first_name} #{@member.last_name}"})
        - else
          = t('mail.greeting.female', {name: "#{@member.first_name} #{@member.last_name}"})
      - unless @member.budgets.empty?
        %center
          %h2
            = t('member.current_budgets')
            - if Date.today.day == Setting.monthly_mail
              %br
                %small= t('reporter.interval.show_message', days: Setting.monthly_mail)
          %table.main{border: "1px"}
            %thead
              %tr
                %th= t('view.donation.title')
                %th= t('budget.rest_current_budget')
                %th= t('budget.elapsed_time')
                %th= t('budget.average_payment')
            %tbody
              - @member.list_currrent_budgets.each do |iter|
                %tr
                  %td= iter[:budget].donation.name
                  %td= number_to_currency(iter[:rest_amount], {locale: :de, precision: 0})
                  %td
                    %small= I18n.l(iter[:budget].start_date, format: :default)
                    %br
                    %i= I18n.l(iter[:budget].end_date, format: :default)
                  %td= number_to_currency(iter[:average_amount], {locale: :de, precision: 0})

      %table.footer
        %tr
          %td
            Wassalam
            %br
            = t('mail.message.department')
            = Setting.jamaat
        %tr
          %td
            - if @member.gender == 'male'
              %pre= Setting.mail_contact_tag_for_male
            -else
              %pre= Setting.mail_contact_tag_for_female

      %center.maalify
        = t('mail.message.maalify') if Setting.monthly_mail == Date.today.day
        %br
        build with &#9829; in Darmstadt
