- content_for :title do
  ="#{t('view.edit')}: #{t('pdf_reporter.title')} (#{@pdf_reporter.id})"

%h1= t('pdf_reporter.title')

= render 'form'

%br
= link_to t('view.show'), @pdf_reporter, class: "btn btn-xs btn-default"
= link_to t('view.back'), pdf_reporters_path, class: "btn btn-xs btn-default"
