- content_for :title do
  ="#{t('pdf_reporter.title')} (#{@pdf_reporter.id})"


%h2
  = "#{t('pdf_reporter.title')}: "
  = @pdf_reporter.name

.well
  %h3
    =t('pdf_reporter.members')
    %small= "(#{@pdf_reporter.members.count})"
  %ul
  - Member.where(aims_id: @pdf_reporter.members).each do |m|
    %li= link_to m.full_name, member_path(m.id)


%br
= link_to t('view.edit'), edit_pdf_reporter_path(@pdf_reporter), class: "btn btn-xs btn-default"
= link_to t('view.back'), pdf_reporters_path, class: "btn btn-xs btn-default"
