= form_for([@member, @receipt], :html => {:class => "form-horizontal"}) do |f|
  - if @receipt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@receipt.errors.count, "error")} prohibited this receipt from being saved:"
      %ul
        - @receipt.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :receipt_id, t('receipt.id'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :receipt_id, :class => "form-control"
  .form-group
    = f.label :date, t('receipt.date'), class: "col-sm-2 control-label"
    .col-sm-10
      = f.text_field :date, :class => "form-control datepicker"
  .container
    .col-md-offset-1
      = f.fields_for :items do |builder|
        = render 'item_fields', f: builder

      .form-group
        = link_to_add_fields(t('receipt.add_item'), f, :items)

  %br
  .actions
    = f.submit t('view.save'), :class => "btn btn-success"
