%h1
  = t('budget.receipts')

%table#all-receipts-table.table.table-striped.table-bordered.table-hover.table-condensed{"data-source" => receipts_all_url(format: "json")}
  %thead
    %tr
      %th= t('member.full_name')
      %th= t('receipt.id')
      %th= t('receipt.date')
      %th= t('receipt.total')
      %th= t('receipt.items')
      %th= t('receipt.updated')
      %th
      %th
      %th

  %tbody
