- content_for :title do
  ="#{t('view.receipt.title')}: #{@receipt.id}"
%h2
  = t('view.receipt.title')
  %small= link_to @receipt.member.full_name, member_path(@receipt.member)

%p
  %h5
    %b= t('receipt.id')
    = @receipt.receipt_id
%p
  %h5
    %b= t('receipt.date')
    = I18n.l(@receipt.date, format: :long)

%table.table.table-bordered.table-condensed.table-hover
  %thead
    %th= t('receipt_item.number')
    %th= t('donation.name')
    %th= t('receipt.amount')
  %tbody
    - @receipt.items.each_with_index do |item, index|
      %tr
        %td= index + 1
        %td= link_to item.donation.name, donation_path(item.donation_id)
        %td= number_to_currency(item.amount, locale: :de)


%h4
  %b= t('receipt.total')
  = number_to_currency(@receipt.total, locale: :de)


= link_to t('view.edit'), edit_member_receipt_path(params[:member_id], @receipt.id), :class => "btn btn-default btn-xs"
= link_to t('view.back'), member_receipts_path, :class => "btn btn-default btn-xs"
