<%# add navigation links to this file %>

<% unless user_signed_in? %>
    <li><%= link_to "#{t('user.login')}", new_user_session_path %></li>
<% end %>

<% if user_signed_in? %>
    <li><%= link_to "#{t('view.member.title')}", members_path %></li>
    <li><%= link_to "#{t('view.budget.title')}", all_budgets_budgets_path %></li>
    <li><%= link_to "#{t('view.donation.title')}", donations_path %></li>
    <li><%= link_to "#{t('reporter.title')}", reporters_path %></li>
    <li><%= link_to "#{t('pdf_reporter.title')}", pdf_reporters_path %></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <%= t('navbar.options') %> <span class="caret"></span></a>
      <ul class="dropdown-menu">
        <li><%= link_to "#{t('settings.index.title')}", rails_settings_ui_path %></li>
        <li role="separator" class="divider"></li>
        <li class="dropdown-header"><%= t('navbar.language') %></li>
        <li><%= link_to image_tag("germany_round_icon_64.png", :class => "language-icon"), set_language_german_path %></li>
        <li><%= link_to image_tag("united_kingdom_round_icon_64.png", :class => "language-icon"), set_language_english_path %></li>
        <li role="separator" class="divider"></li>
        <li><%= link_to "#{t('user.logout')}", destroy_user_session_path, :method => 'delete' %></li>
      </ul>
    </li>
<% end %>
