<%# add navigation links to this file %>
<% unless Rails.env.production? %>
  <% if user_signed_in? %>
    <li><%= link_to 'Edit account', edit_user_registration_path %></li>
    <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
  <% else %>
    <li><%= link_to 'Sign in', new_user_session_path %></li>
    <li><%= link_to 'Sign up', new_user_registration_path %></li>
  <% end %>
  <% if user_signed_in? %>
    <li><%= link_to 'Users', users_path %></li>
    <li><%= link_to "#{t('view.member.title')}", members_path %></li>
  <% end %>
<% end %>


<li><%= link_to "#{t('view.member.title')}", members_path %></li>
<li><%= link_to "#{t('view.budget.title')}", all_budgets_budgets_path %></li>
<li><%= link_to "#{t('view.donation.title')}", donations_path %></li>
<li><%= link_to "#{t('reporter.title')}", reporters_path %></li>
<li><%= link_to image_tag("germany_round_icon_64.png", :class => "language-icon"), set_language_german_path %></li>
<li><%= link_to image_tag("united_kingdom_round_icon_64.png", :class => "language-icon"), set_language_english_path %></li>
