- content_for :title do
  ="#{t('member.all_budgets')} (#{@member.full_name})"

- unless @member.budgets.empty?
  .container-fluid
    .col-sm-12
      %h2
        = t('member.all_budgets')
        %small= link_to @member.full_name, member_path(@member.id)
        %small= "(#{@member.budgets.size})"
      %table#member-all-budgets.table.table-striped.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('view.budget.title')
            %th= t('view.donation.title')
            %th= t('budget.promise')
            %th= t('budget.paid')
            %th= t('budget.rest_current_budget')
            %th= t('budget.elapsed_time')
            %th= t('budget.average_payment')
        %tbody
          - @member.list_currrent_budgets(true).each do |iter|
            %tr{:class => ("danger" if iter[:budget].none_payer?)}
              %td= link_to iter[:budget].title, budget_path(iter[:budget].id)
              %td= link_to iter[:budget].donation.name, donation_path(iter[:budget].donation.id)
              %td
                = number_to_currency(iter[:budget].promise, locale: :de)
                - if iter[:budget].rest_promise_from_past_budget > 0
                  %br
                  %small= number_to_currency(iter[:budget].rest_promise_from_past_budget, locale: :de)
              %td= number_to_currency(iter[:paid_amout], locale: :de)
              %td= number_to_currency(iter[:rest_amount], locale: :de)
              %td
                = I18n.l(iter[:budget].start_date, format: :default)
                %br
                = I18n.l(iter[:budget].end_date, format: :default)
              %td= number_to_currency(iter[:average_amount], locale: :de)
