%h1
	= t('view.member.edit')
	%small= @member.full_name

= render 'form'

%br
= link_to 'Show', @member, :class => "btn btn-default btn-xs"
= link_to 'Back', members_path, :class => "btn btn-default btn-xs"
