- content_for :title do
  ="#{t('view.member.edit')} (#{@member.full_name})"

%h1
  = t('view.member.edit')
  %small= link_to @member.full_name, member_path(@member.id)

= render 'form'

%br
= link_to t('view.show'), @member, :class => "btn btn-default btn-xs"
= link_to t('view.back'), members_path, :class => "btn btn-default btn-xs"
