%p
  %ul.nav.nav-pills
    %li.active{:role => "presentation"}
      =link_to t('view.member.all'), members_path
    %li{:role => "presentation"}
      =link_to t('view.member.import'), import_page_members_path

.row
  .col-lg-12
    %h1
      = t('view.member.title')
      %small= "(#{Member.all.size})"

  .col-lg-12
    %table#tajnied-table.table.table-striped.table-bordered.table-hover.table-condensed.responsive.no-wrap.display{"data-source" => members_url(format: "json")}
      %thead
        %tr
          %th= t('member.aims_abbr')
          %th= t('member.last_name')
          %th= t('member.first_name')
          %th= t('member.tanzeem')
          %th= t('member.wasiyyat_abbr')
          %th= t('member.age')
          %th= t('member.street')
          %th= t('member.plz')
          %th= t('member.city')
          %th= t('member.landline')
          %th= t('member.mobile_no')
          %th= t('member.email')
          %th
          %th
          %th

      %tbody


  %br
  .col-lg-12
    = link_to "#{t('view.member.new')}", new_member_path, :class => "btn btn-primary"
