%h1
  = t('view.member.title')
  %small= "(#{@members.size})"

%table.table.table-striped.table-bordered.table-hover.table-condensed
  %thead
    %tr
      %th= t('member.aims_abbr')
      %th= t('member.last_name')
      %th= t('member.first_name')
      %th= t('member.wasiyyat_abbr')
      %th= t('member.age')
      %th= t('member.street')
      %th= t('member.plz')
      %th= t('member.city')
      %th= t('member.email')
      %th= t('member.landline')
      %th= t('member.mobile_no')
      %th= t('member.occupation')
      %th
      %th
      %th
      
  %tbody
    - @members.each do |member|
      %tr
        %td= member.aims_id
        %td= member.last_name
        %td= member.first_name
        %td= show_boolean_value_as_glyphicon(member.wassiyyat)
        %td= member.age
        %td= member.street
        %td= member.plz
        %td= member.city
        %td= link_to_address(member.email)
        %td= link_to_telephone(member.landline)
        %td= link_to_telephone(member.mobile_no)
        %td= member.occupation
        %td
          =link_to member, :title => "#{t('table.show')}" do
            %span.glyphicon.glyphicon-search
        %td
          = link_to edit_member_path(member), :title => "#{t('table.edit')}" do
            %span.glyphicon.glyphicon-edit
        %td
          = link_to member, :method => :delete, :data => { :confirm => 'Are you sure?' }, :title => "#{t('table.delete')}" do
            %span.glyphicon.glyphicon-trash.color-red


%br

= link_to "#{t('view.member.new')}", new_member_path, :class => "btn btn-primary"
