.container-fluid
  .col-sm-12
    %h1
      = @member.full_name
      %small
        = @member.aims_id
        %span.small
          = show_boolean_value_as_glyphicon(@member.wassiyyat)

.container-fluid
  .col-sm-6
    %b= t('member.date_of_birth')
    = I18n.l(@member.date_of_birth, format: :long)
    = "(#{@member.age})"

  .col-sm-6
    %address.text-right
      %span.glyphicon.glyphicon-home
      %br
      = @member.street
      %br
      = @member.plz
      = " "
      = @member.city
      %br
      = link_to_telephone(@member.landline)
      %br
      = link_to_telephone(@member.mobile_no)
      %br
      = link_to_address(@member.email)

.container-fluid
  .col-sm-6
    %b= t('member.occupation')
    = @member.occupation

    - if @member.current_income.present?
      %p
        %b Aktuelles Einkommen
        = number_to_currency(@member.current_income.amount, locale: :de)

- unless @member.budgets.empty?
  .container-fluid
    .col-sm-12
      %h3= t('member.current_budgets')
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('view.budget.title')
            %th= t('view.donation.title')
            %th= t('budget.promise')
            %th= t('budget.paid')
            %th= t('budget.rest_current_budget')
            %th= t('budget.elapsed_time')
            %th= t('budget.average_payment')
        %tbody
          - @member.budgets.each do |budget|
            - next unless (budget.start_date..budget.end_date).include?(Date.today)
            %tr{:class => ("danger" if budget.none_payer?)}
              %td= link_to budget.title, budget_path(budget.id)
              %td= link_to budget.donation.name, donation_path(budget.donation.id)
              %td
                = number_to_currency(budget.promise, locale: :de)
                %br
                %small= number_to_currency(budget.rest_promise_from_past_budget, locale: :de)
              %td= number_to_currency(budget.paid_amount, locale: :de)
              %td= number_to_currency(budget.promise - budget.paid_amount + budget.rest_promise_from_past_budget, locale: :de)
              %td
                = I18n.l(budget.start_date, format: :default)
                %br
                = I18n.l(budget.end_date, format: :default)
              %td= number_to_currency(budget.average_payment, locale: :de)

.container-fluid
  %h3= t('view.member.aktion')
  .col-sm-4
    = link_to member_incomes_path(params[:id]), :class => "btn btn-default btn-block btn-lg"  do
      %span.glyphicon.glyphicon-briefcase
      = t('view.income.title')
  .col-sm-4
    = link_to member_receipts_path(params[:id]), :class => "btn btn-default btn-block btn-lg"  do
      %span.glyphicon.glyphicon-list
      = t('budget.receipts')
  .col-sm-4
    = collection_select(:budget, :selector_for_member, @member.list_available_budgets,:title, :title,
      options= {prompt: t('view.member.select_budget_box')}, html_options= {class: "selectpicker", data:{width:'auto'}})

.container-fluid
  .col-sm-12
    %br
    = link_to t('view.edit'), edit_member_path(@member), :class => "btn btn-default btn-xs"
    = link_to t('view.back'), members_path, :class => "btn btn-default btn-xs"
