- content_for :title do
  ="#{@member.full_name} (#{@member.id})"

.container-fluid
  .col-sm-12
    %h1
      = @member.full_name
      %small
        = @member.aims_id
        %span.small
          = show_boolean_value_as_glyphicon(@member.wassiyyat)

.container-fluid
  .col-sm-6
    - unless (@member.wassiyyat_number.nil? || @member.wassiyyat_number.empty?)
      %b= t('member.wassiyyat_number')
      = @member.wassiyyat_number
      %br

    %b= t('member.date_of_birth')
    = I18n.l(@member.date_of_birth, format: :long)
    = "(#{@member.age})"

  .col-sm-6
    %address.text-right
      %span.glyphicon.glyphicon-home
      %br
      = @member.street
      %br
      = @member.plz
      = " "
      = @member.city
      %br
      = link_to_telephone(@member.landline)
      %br
      = link_to_telephone(@member.mobile_no)
      %br
      = link_to_address(@member.email)

.container-fluid
  .col-sm-6
    %b= t('member.occupation')
    = @member.occupation

    - if @member.current_income.present?
      %p
        %b= number_to_currency(@member.current_income.amount, locale: :de)
        = t('income.current')

- unless @member.budgets.empty?
  .container-fluid
    .col-sm-12
      %h3= t('member.current_budgets')
      %table.table.table-striped.table-bordered.table-hover.table-condensed
        %thead
          %tr
            %th= t('view.budget.title')
            %th= t('view.donation.title')
            %th= t('budget.promise')
            %th= t('budget.paid')
            %th= t('budget.rest_current_budget')
            %th= t('budget.elapsed_time')
            %th= t('budget.average_payment')
        %tbody
          - @member.list_currrent_budgets.each do |iter|
            %tr{:class => ("danger" if iter[:budget].none_payer?)}
              %td= link_to iter[:budget].title, budget_path(iter[:budget].id)
              %td= link_to iter[:budget].donation.name, donation_path(iter[:budget].donation.id)
              %td
                = number_to_currency(iter[:budget].promise, locale: :de)
                %br
                %small= number_to_currency(iter[:budget].rest_promise_from_past_budget, locale: :de)
              %td= number_to_currency(iter[:paid_amout], locale: :de)
              %td= number_to_currency(iter[:rest_amount], locale: :de)
              %td
                %small= I18n.l(iter[:budget].start_date, format: :default)
                %br
                %b= I18n.l(iter[:budget].end_date, format: :default)
              %td= number_to_currency(iter[:average_amount], locale: :de)

.container-fluid
  %h3= t('view.member.aktion')
  .col-sm-4
    = link_to member_incomes_path(params[:id]), :class => "btn btn-default btn-block btn-lg"  do
      %span.glyphicon.glyphicon-euro
      = t('view.income.title')
  .col-sm-4
    = link_to member_receipts_path(params[:id]), :class => "btn btn-default btn-block btn-lg"  do
      %span.glyphicon.glyphicon-list
      = t('budget.receipts')
  .col-sm-4
    = collection_select(:budget, :selector_for_member, @member.list_available_budgets,:title, :title,
      options= {prompt: t('view.member.select_budget_box')}, html_options= {data:{width:'auto'}})
.container-fluid
  %br
  .col-sm-4
    = link_to budgets_member_path(params[:id]), :class => "btn btn-default btn-block btn-lg"  do
      %span.glyphicon.glyphicon-briefcase
      = t('member.all_budgets')
  .col-sm-4
    = link_to send_mail_member_path, class: "btn btn-warning btn-block btn-lg", method: :post do
      %span.glyphicon.glyphicon-envelope
      = t('member.send_mail')

.container-fluid
  .col-sm-12
    %br
    = link_to t('view.edit'), edit_member_path(@member), :class => "btn btn-default btn-xs"
    = link_to t('view.back'), members_path, :class => "btn btn-default btn-xs"
