%p#notice= notice

%h1
  = t('view.member.title')
  %small= @member.full_name

%p
  %b= t('member.last_name')
  = @member.last_name
%p
  %b= t('member.first_name')
  = @member.first_name
%p
  %b= t('member.aims')
  = @member.aims_id
%p
  %b= t('member.wasiyyat')
  = @member.wassiyyat
%p
  %b= t('member.date_of_birth')
  = @member.date_of_birth
%p
  %b= t('member.street')
  = @member.street
%p
  %b= t('member.city')
  = @member.city
%p
  %b= t('member.plz')
  = @member.plz
%p
  %b= t('member.mobile_no')
  = @member.mobile_no
%p
  %b= t('member.occupation')
  = @member.occupation

%p
  - if @member.current_income.present?
    %b Aktuelles Einkommen:
    = number_to_currency(@member.current_income.amount, locale: :de)
  %br
  = link_to member_incomes_path(params[:id]), :class => "btn btn-primary"  do
    %span.glyphicon.glyphicon-arrow-right
    = t('view.income.title')

= link_to 'Edit', edit_member_path(@member), :class => "btn btn-default btn-xs"
= link_to 'Back', members_path, :class => "btn btn-default btn-xs"
