%h1
  = t('view.member.title')
  %small= @member.full_name

%p
  %b= t('member.last_name')
  = @member.last_name
%p
  %b= t('member.first_name')
  = @member.first_name
%p
  %b= t('member.aims')
  = @member.aims_id
%p
  %b= t('member.wasiyyat')
  = @member.wassiyyat
%p
  %b= t('member.date_of_birth')
  = @member.date_of_birth.strftime("%d. %b %Y")
%p
  %b= t('member.street')
  = @member.street
%p
  %b= t('member.city')
  = @member.city
%p
  %b= t('member.plz')
  = @member.plz
%p
  %b= t('member.mobile_no')
  = @member.mobile_no
%p
  %b= t('member.occupation')
  = @member.occupation

- if @member.current_income.present?
  %p
    %b Aktuelles Einkommen:
    = number_to_currency(@member.current_income.amount, locale: :de)

%hr

%p
  %h4 Aktionen:
  = link_to member_incomes_path(params[:id]), :class => "btn btn-primary"  do
    %span.glyphicon.glyphicon-euro
    = t('view.income.title')


  - if @member.receipts.present?
    = link_to member_receipts_path(params[:id]), :class => "btn btn-primary"  do
      %span.glyphicon.glyphicon-tasks
        = t('view.receipt.title')

  = collection_select(:budget, :selector_for_member, Member.list_available_budgets,:title, :title,
    options= {prompt: t('view.member.select_budget_box')}, html_options= {class: "btn btn-default"})


= link_to t('view.edit'), edit_member_path(@member), :class => "btn btn-default btn-xs"
= link_to t('view.back'), members_path, :class => "btn btn-default btn-xs"
